language: python

python:
  - 3.6

before_install:
  # decrypting ssh key to be able to access private botorch repo
  - openssl aes-256-cbc -K $encrypted_39ecd60da1dc_key -iv $encrypted_39ecd60da1dc_iv -in botorch_key.enc -out botorch_key -d
  - chmod 600 botorch_key
  - eval "$(ssh-agent -s)"
  - ssh-add botorch_key

matrix:
  include:
    - name: "Tests: Python 3.6 with GPy"
      python: "3.6"
      install:
        - pip install cython numpy
        # TODO: Remove once GPyTorch 0.3.2 is released and marked a dep. of botorch
        - pip install -q git+https://github.com/cornellius-gp/gpytorch.git@32911e3b51901917c0f14101972581c1295b5edb
        # TODO: Remove once PyTorch 1.1 is released and marked a dep. of botorch
        - pip install -q torch_nightly -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
        - pip install git+ssh://git@github.com/facebookexternal/botorch.git
        - pip install -q -e .[dev,mysql,notebook,gpy]
      script:
        - pytest -ra
    - name: "Tests: Python 3.7"
      # Enable Python 3.7 w/o without globally enabling sudo and xenial dist
      # See https://github.com/travis-ci/travis-ci/issues/9815
      python: "3.7"
      dist: xenial
      install:
        - pip install cython numpy
        # TODO: Remove once GPyTorch 0.3.2 is released and marked a dep. of botorch
        - pip install -q git+https://github.com/cornellius-gp/gpytorch.git@32911e3b51901917c0f14101972581c1295b5edb
        # TODO: Remove once PyTorch 1.1 is released and marked a dep. of botorch
        - pip install -q torch_nightly -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
        - pip install git+ssh://git@github.com/facebookexternal/botorch.git
        - pip install -q -e .[dev,mysql,notebook]
      script:
        - pytest -ra  --ignore=ax/models/tests/test_gpy.py   --ignore=ax/models/tests/test_gpy_nei.py
    - name: "Lint: black (Python 3.6)"
      python: "3.6"
      install:
        - pip install black
      script:
        - black --check --diff .
    - name: "Lint: flake8 (Python 3.6)"
      python: "3.6"
      install:
        - pip install flake8
      script:
        # don't use .flake8 config for now, since don't need custom plugin
        - flake8 --isolated --ignore=T484,T499,W503,E704,E231,E203 --max-line-length=88
    - name: "Docs: Sphinx (Python 3.6)"
      python: "3.6"
      install:
        - pip install cython numpy
        # TODO: Remove once GPyTorch 0.3.2 is released and marked a dep. of botorch
        - pip install -q git+https://github.com/cornellius-gp/gpytorch.git@32911e3b51901917c0f14101972581c1295b5edb
        # TODO: Remove once PyTorch 1.1 is released and marked a dep. of botorch
        - pip install -q torch_nightly -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
        - pip install git+ssh://git@github.com/facebookexternal/botorch.git
        - pip install -q -e .[dev,mysql,notebook,gpy]
      script:
        # warnings treated as errors
        - sphinx-build -WT sphinx/source sphinx/build
        # since -W flag breaks on first error, re-run without it to print all
        - sphinx-build sphinx/source sphinx/build
