name: Nightly Cron

on:
  schedule:
    # midnight EST
    - cron:  '0 5 * * *'
  # allow this to be scheduled manually in addition to cron
  workflow_dispatch:


jobs:

  tests-and-coverage:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        botorch: ['pinned', 'latest']
        requirements: ['minimal', 'full']
      fail-fast: false

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies (full requirements, stable Botorch)
      run: |
        # will install the version of Botorch that is pinned in setup.py
        pip install -e .[dev,mysql,notebook]
        pip install tensorboard  # For tensorboard unit tests
        pip install torchvision # For torchvision unit tests
        pip install torchx  # For torchx unit tests.
        pip install "protobuf<4"  # Temporary fix for tensorboard / ray import errors.
      if: matrix.botorch == 'pinned' && matrix.requirements == 'full'
    - name: Install dependencies (minimal requirements, stable Botorch)
      run: |
        pip install -e .
        pip install tensorboard  # For tensorboard unit tests
        pip install torchvision # For torchvision unit tests
        pip install torchx  # For torchx unit tests.
        pip install "protobuf<4"  # Temporary fix for tensorboard / ray import errors.
      if: matrix.botorch == 'pinned' && matrix.requirements == 'minimal'
    - name: Install dependencies (full requirements, Botorch main)
      env:
        ALLOW_BOTORCH_LATEST: true
      run: |
        pip install git+https://github.com/cornellius-gp/gpytorch.git
        pip install git+https://github.com/pytorch/botorch.git
        pip install -e .[dev,mysql,notebook]
        pip install tensorboard  # For tensorboard unit tests
        pip install torchvision # For torchvision unit tests
        pip install torchx  # For torchx unit tests.
        pip install "protobuf<4"  # Temporary fix for tensorboard / ray import errors.
      if: matrix.botorch == 'latest' && matrix.requirements == 'full'
    - name: Install dependencies (minimal requirements, Botorch main)
      env:
        ALLOW_BOTORCH_LATEST: true
      run: |
        pip install git+https://github.com/cornellius-gp/gpytorch.git
        pip install git+https://github.com/pytorch/botorch.git
        pip install -e .
        pip install tensorboard  # For tensorboard unit tests
        pip install torchvision # For torchvision unit tests
        pip install torchx  # For torchx unit tests.
        pip install "protobuf<4"  # Temporary fix for tensorboard / ray import errors.
      if: matrix.botorch == 'latest' && matrix.requirements == 'minimal'
    - name: Import Ax
      run: |
        python scripts/import_ax.py
    - name: Tests
      # run even if previous step (import Ax) failed
      if: matrix.requirements == 'full'
      run: |
        pytest -ra

  build-tutorials-with-pinned-botorch:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        # will install the version of Botorch that is pinned in setup.py
        pip install -e .[dev,mysql,notebook]
        pip install psycopg2  # Used in example DBSettings in a tutorial (as part of postgres).
        pip install torchvision  # required for tutorials
        pip install ray  # Required for building RayTune tutorial notebook.
        pip install tabulate  # Required for building RayTune tutorial notebook.
        pip install tensorboardX  # Required for building RayTune tutorial notebook.
        pip install matplotlib  # Required for building Multi-objective tutorial notebook.
        pip install pyro-ppl  # Required for to call run_inference
        pip install "protobuf<4"  # Temporary fix for tensorboard / ray import errors.
    - name: Build tutorials
      run: |
        python scripts/make_tutorials.py -w $(pwd) -e

  publish-latest-website:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      env:
        ALLOW_BOTORCH_LATEST: true
      run: |
        # use latest BoTorch
        pip install git+https://github.com/cornellius-gp/gpytorch.git
        pip install git+https://github.com/pytorch/botorch.git
        pip install -e .[dev,mysql,notebook]
        pip install psycopg2  # Used in example DBSettings in a tutorial (as part of postgres).
        pip install torchvision  # required for tutorials
        pip install ray  # Required for building RayTune tutorial notebook.
        pip install tabulate  # Required for building RayTune tutorial notebook.
        pip install tensorboardX  # Required for building RayTune tutorial notebook.
        pip install matplotlib  # Required for building Multi-objective tutorial notebook.
        pip install pyro-ppl  # Required for to call run_inference
        pip install tensorboard  # For generating Sphinx docs for TensorboardCurveMetric
        pip install torchx  # For generating Sphinx docs for TorchXMetric.
        pip install "protobuf<4"  # Temporary fix for tensorboard / ray import errors.
    - name: Publish latest website
      env:
        DOCUSAURUS_PUBLISH_TOKEN: ${{ secrets.DOCUSAURUS_PUBLISH_TOKEN }}
      run: |
        bash scripts/publish_site.sh -d

  deploy-test-pypi:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Fetch all history for all tags and branches
      run: git fetch --prune --unshallow
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      env:
        ALLOW_BOTORCH_LATEST: true
      run: |
        # use latest BoTorch
        pip install git+https://github.com/cornellius-gp/gpytorch.git
        pip install git+https://github.com/pytorch/botorch.git
        pip install -e .[dev,mysql,notebook]
        pip install wheel
    - name: Build wheel
      run: |
        python setup.py sdist bdist_wheel
    - name: Deploy to Test PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: lilidworkin
        password: ${{ secrets.test_pypi_password }}
        repository_url: https://test.pypi.org/legacy/
        skip_existing: true
