name: Nightly Cron

on:
  schedule:
    # midnight EST
    - cron:  '0 5 * * *'
  # allow this to be scheduled manually in addition to cron
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - "tutorials/**"

jobs:

  tests-and-coverage-minimal:
    name: Tests with latest BoTorch & minimal dependencies
    uses: ./.github/workflows/reusable_test.yml
    with:
      pinned_botorch: false
      minimal_dependencies: true
    secrets: inherit

  tests-and-coverage-full:
    name: Tests with latest BoTorch & full dependencies
    uses: ./.github/workflows/reusable_test.yml
    with:
      pinned_botorch: false
      minimal_dependencies: false
    secrets: inherit

  build-tutorials:
    name: Build tutorials with latest BoTorch
    uses: ./.github/workflows/reusable_tutorials.yml
    with:
      smoke_test: false
      pinned_botorch: false

  publish-latest-website:
    name: Publish latest website
    uses: ./.github/workflows/publish_website.yml
    permissions:
      pages: write
      id-token: write
      contents: write
    with:
      run_tutorials: true

  deploy-test-pypi:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Fetch all history for all tags and branches
      run: git fetch --prune --unshallow
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - name: Install dependencies
      env:
        ALLOW_BOTORCH_LATEST: true
        ALLOW_LATEST_GPYTORCH_LINOP: true
      run: |
        # use latest BoTorch
        pip install git+https://github.com/cornellius-gp/gpytorch.git
        pip install git+https://github.com/pytorch/botorch.git
        pip install -e ".[dev,mysql,notebook]"
        pip install --upgrade build setuptools setuptools_scm wheel
    - name: Build wheel
      run: |
        python -m build --sdist --wheel
    - name: Deploy to Test PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.TEST_PYPI_TOKEN }}
        repository_url: https://test.pypi.org/legacy/
        skip_existing: true
        verbose: true
