name: Nightly Cron

on:
  schedule:
    # midnight EST
    - cron:  '0 5 * * *'
  # allow this to be scheduled manually in addition to cron
  workflow_dispatch:


jobs:

  tests-and-coverage:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        botorch: ['stable', 'pinned']
      fail-fast: false

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies (stable Botorch)
      run: |
        # will automatically install latest stable Botorch
        pip install -q -e .[dev,mysql,notebook]
      if: matrix.botorch == 'stable'
    - name: Install dependencies (pinned Botorch)
      run: |
        # TODO: read pinned Botorch version from a shared source
        pip install botorch==0.4.0
        pip install -q -e .[dev,mysql,notebook]
      if: matrix.botorch == 'pinned'
    - name: Import Ax
      run: |
        python scripts/import_ax.py
    - name: Tests
      # run even if previous step (import Ax) failed
      if: ${{ always() }}
      run: |
        pytest -ra

  publish-latest-website:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        # use master Botorch
        pip install git+https://github.com/cornellius-gp/gpytorch.git
        pip install git+https://github.com/pytorch/botorch.git
        pip install -q -e .[dev,mysql,notebook]
        pip install psycopg2  # Used in example DBSettings in a tutorial (as part of postgres).
        pip install torchvision  # required for tutorials
        pip install ray  # Required for building RayTune tutorial notebook.
        pip install tabulate  # Required for building RayTune tutorial notebook.
        pip install tensorboardX
        pip install matplotlib  # Required for building Multi-objective tutorial notebook.
    - name: Publish latest website
      env:
        DOCUSAURUS_PUBLISH_TOKEN: ${{ secrets.DOCUSAURUS_PUBLISH_TOKEN }}
      run: |
        bash scripts/publish_site.sh -d

  deploy-test-pypi:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Fetch all history for all tags and branches
      run: git fetch --prune --unshallow
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        # use master Botorch
        pip install git+https://github.com/cornellius-gp/gpytorch.git
        pip install git+https://github.com/pytorch/botorch.git
        pip install -q -e .[dev,mysql,notebook]
        pip install wheel
    - name: Build wheel
      run: |
        python setup.py sdist bdist_wheel
    - name: Deploy to Test PyPI
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: lilidworkin
        password: ${{ secrets.test_pypi_password }}
        repository_url: https://test.pypi.org/legacy/
        skip_existing: true
