# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Deploy

on:
  release:
    types: [created]

jobs:
  tests-and-coverage:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        botorch: ['stable', 'pinned']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies (stable Botorch)
      run: |
        # will automatically install latest stable Botorch
        pip install -q -e .[dev,mysql,notebook]
      if: matrix.botorch == 'stable'
    - name: Install dependencies (pinned Botorch)
      run: |
        # TODO: read pinned Botorch version from a shared source
        pip install botorch==0.4.0
        pip install -q -e .[dev,mysql,notebook]
      if: matrix.botorch == 'pinned'
    - name: Import Ax
      run: |
        python scripts/import_ax.py
    - name: Tests
      run: |
        pytest -ra

  publish-stable-website:

    needs: tests-and-coverage # only run if previous step succeeds
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        # use stable Botorch
        pip install -q -e .[dev,mysql,notebook]
        pip install psycopg2  # Used in example DBSettings in a tutorial (as part of postgres).
        pip install torchvision  # required for tutorials
        pip install ray  # Required for building RayTune tutorial notebook.
        pip install tabulate  # Required for building RayTune tutorial notebook.
        pip install matplotlib  # Required for building Multi-objective tutorial notebook.
    - name: Publish latest website
      env:
        DOCUSAURUS_PUBLISH_TOKEN: ${{ secrets.DOCUSAURUS_PUBLISH_TOKEN }}
      run: |
        bash scripts/publish_site.sh -d -k python3 -v ${{ github.event.release.tag_name }}

  deploy:

    needs: publish-stable-website # only run if previous step succeeds
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        # use stable Botorch
        pip install -q -e .[dev,mysql,notebook]
        pip install wheel
    - name: Fetch all history for all tags and branches
      run: git fetch --prune --unshallow
    - name: Build wheel
      run: |
        python setup.py sdist bdist_wheel
    - name: Deploy to PyPI
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: lilidworkin
        password: ${{ secrets.pypi_password }}
