name: Reusable Tutorials Workflow

on:
  workflow_dispatch:
    inputs:
      smoke_test:
        required: true
        type: boolean
      pinned_botorch:
        required: true
        type: boolean
  workflow_call:
    inputs:
      smoke_test:
        required: true
        type: boolean
      pinned_botorch:
        required: true
        type: boolean

jobs:

  build-tutorials:
    name: Tutorials
    runs-on: ubuntu-latest
    env:
      # `uv pip ...` requires venv by default. This skips that requirement.
      UV_SYSTEM_PYTHON: 1
    steps:
    - uses: actions/checkout@v6
    - name: Install uv
      uses: astral-sh/setup-uv@v5
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.14"

    - if: ${{ inputs.pinned_botorch }}
      name: Install dependencies with pinned BoTorch
      run: |
        uv pip install -e ".[tutorial]"

    - if: ${{ !inputs.pinned_botorch }}
      name: Install dependencies with latest BoTorch
      run: |
        uv pip install git+https://github.com/cornellius-gp/linear_operator.git
        uv pip install git+https://github.com/cornellius-gp/gpytorch.git
        uv pip install git+https://github.com/pytorch/botorch.git
        uv pip install -e ".[tutorial]"

    - if: ${{ inputs.smoke_test }}
      name: Run tutorials with smoke test
      run: |
        python scripts/run_tutorials.py -w $(pwd) -s
    - if: ${{ !inputs.smoke_test }}
      name: Run tutorials without smoke test
      run: |
        python scripts/run_tutorials.py -w $(pwd)
    - name: Build tutorials
      run : |
        python scripts/convert_ipynb_to_mdx.py --clean
